<form method="post" action="{{ path('app_admin_partie_delete', {'id': partie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partie.id) }}">
    <button class="btn">Delete</button>
</form>
