{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <h1>Partie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partie.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ partie.Score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_partie_index') }}">back to list</a>

    <a href="{{ path('app_admin_partie_edit', {'id': partie.id}) }}">edit</a>

    {{ include('admin_partie/_delete_form.html.twig') }}
{% endblock %}
