{% extends 'base.html.twig' %}

{% block title %}Partie index{% endblock %}

{% block body %}
    {#<h1>Partie index</h1> #}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.score }}</td>
                <td>
                    <a href="{{ path('app_partie_show', {'id': partie.id}) }}">show</a>
                    <a href="{{ path('app_partie_edit', {'id': partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partie_new') }}">Create new</a>






    <main>   
  <div class="All"></div>
    <div class="col-size">
           <div class="vert-center" id="carre">
           
                  <div class="container">
                 
                              <button class="btn increase" id="ss">
                                      <p>
To survive, click faster than your shadow!
                                      </p>
<img src={{asset('media/luckycolor.jpg')}} width = 20%>
                                    <div id="timer">
                                    </div>
                                    <span id="counter">0
                                    </span>
                                  </button>
                   
                   </div>
           </div>
      </div>
    </div>

    
</main>

<script>const departMinutes = 1;
let temps = departMinutes * 10;

const timerElement = document.getElementById("timer");

setInterval(() => {
  let minutes = parseInt(temps / 60, 10);
  let secondes = parseInt(temps % 60, 10);

  minutes = minutes < 10 ? "0" + minutes : minutes;
  secondes = secondes < 10 ? "0" + secondes : secondes;

  timerElement.innerText = `${minutes}:${secondes}`;
  temps = temps <= 0 ? 0 : temps - 1;
}, 1000);

const btns = document.querySelectorAll(".btn");
const value = document.querySelector("#counter");

// valeur du compteur initialisée à 0
let count = 0;

btns.forEach((btn) => addListenerForEachButton(btn));

// on ajoute un listener avec le bouton en paramètre
function addListenerForEachButton(btn) {
  console.log("Ajout du listener pour chaque bouton");
  btn.addEventListener("click", () => onButtonClicked(btn));
}

function onButtonClicked(btn) {
  if (btn.classList.contains("increase")) {
    // code à exécuter pour le bouton "increase"
    count++;
    console.log("Click faster than your shadow: " + count);
  }

  // on met à jour l'affichage pour le compteur (value) dans le HTML
  value.textContent = count;
}
</script>



{% endblock %}
